.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background: #5e5b5b;
    padding-bottom: 20px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text{
    color: #025342;
    font-size: 48px;
    font-weight: 600;
    background: #02a380;
    font-weight: 400;
    padding: 20px;
}

.underline{
    width: 61px;
    background: #01312b;
    border-radius: 9px;
}

.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #272727;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #058b6a;
    cursor: pointer;

}

.forgot-password{
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #0ecc9d;
    cursor: pointer;

}


.signup-button{
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.signup-button span{
    color: #15b17d;
    cursor: pointer;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px 50px;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 59px;
    color: #033d27;
    background: #017e63;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
}